PORT=3003
AWS_REGION=ap-southeast-1

DB_HOST=
DB_USER=admin
DB_PASSWORD=
DB_NAME=ecommerce_payment_db

COGNITO_USER_POOL_ID=
COGNITO_APP_CLIENT_ID=

PAYMENT_RESULT_TOPIC_ARN=
PAYMENT_REQUESTED_QUEUE_URL=